@charset "UTF-8";
/* CSS Document */
article{padding:10px}
section{padding:10px 0px}
img{max-width:100%;height:auto;vertical-align:middle}
figure{width:100%;text-align:center;align-content:center}
figcaption{width:100%;text-align:center;align-content:center;text-transform:uppercase;margin:5px 0px}
a{text-decoration:none}
.course{background-color:#d6f8bf;color:#202024}
.machines{background-color:#fff3cd;color:#202024}
.overlay{position:absolute;top:30%;left:50%;transform:translate(-50%, -50%)}
.logo{margin-left:auto;margin-right:auto;display:block;width:260px}
.equation{margin:.2em 0em}
.emph{font-style:italic}
.answer{font-style:italic;font-family:Times,"Times New Roman","serif";color:red}
.boxed{margin:5px 20px;padding:5px;border:medium solid #b00}
.comment{margin:.1em,.3em;padding:.1em;font-style:oblique}
.bold{font-weight:bold}
.highlight{color:red}
.thumb_150{border:none;width:150px}
.button_group{display:table;margin:0 auto}
button.start{background-color:#1e8423;border:none;color:#fff;padding:10px;text-align:center;text-decoration:none;margin:2px;display:inline-block}
button.stop{background-color:#b70205;border:none;color:#fff;padding:10px;text-align:center;text-decoration:none;margin:2px;display:inline-block}
button.step{background-color:#02329e;border:none;color:#fff;padding:10px;text-align:center;text-decoration:none;margin:2px;display:inline-block}
button.option{background-color:#884000;border:none;color:#fff;padding:10px;text-align:center;text-decoration:none;margin:2px;display:inline-block}

table{align-content:center}table.data{width:80%;text-align:center;border:1px solid #000;border-collapse:collapse;margin-left:auto;margin-right:auto}
table.data tr{margin:0;padding:0}
table.data td{text-align:center;border:1px solid gray;width:auto}
table.data th{text-align:center;border:1px solid gray}
ul{margin-left: 20px}
ol{margin-left: 20px}
ol.lr{list-style-type:lower-roman;margin-top:3px;margin-bottom:3px}
ol.la{list-style-type:lower-alpha;margin-top:3px;margin-bottom:3px}
ol.la li,ol.lr li{padding-top:1px;padding-bottom:1px}

